<launch>

    <!-- <node name = "input" pkg = "materov22_pioneer" type = "input"/> -->

    <!-- <node name = "motion_command_executer" pkg = "materov22_pioneer" type = "motion_command_executer"/>
     -->
    <!-- <node name = "serialnode" pkg = "rosserial_arduino" type = "serial_node.py">
    <param name="port" value="/dev/ttyAMA0"/>
    </node> -->

    <!-- <include ns="camera_node" file="$(find materov22_pioneer)/src/camera/launch/elp.launch" /> -->

    <node name = "web_video_server" pkg = "web_video_server" type = "web_video_server"/>

    <node name = "rosbride_websocket" pkg = "rosbridge_server" type = "rosbridge_websocket"/>

    <node name="processor" pkg = "materov22_pioneer" type="processor.py">

    <node name="stick" pkg = "materov22_pioneer" type="stick.py">

</launch>
